<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.africastalking.android">

    <uses-permission android:name="android.permission.USE_SIP" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />

    <uses-feature android:name="android.hardware.sip.voip" android:required="true" />
    <uses-feature android:name="android.hardware.microphone" android:required="true" />



    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity android:name=".ui.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.airtime.AirtimeActivity" android:label="Airtime" />
        <activity android:name=".ui.payment.PaymentActivity" android:label="Payment" />
        <activity android:name=".ui.sms.SmsActivity" android:label="SMS" />
        <activity android:name=".ui.voice.OutgoingCallActivity" android:label="Voice"/>
        <activity android:name=".ui.voice.IncomingCallActivity" android:launchMode="singleInstance" android:label="Voice"/>

        <receiver android:name=".services.IncomingCallReceiver">
            <intent-filter>
                <action android:name="com.africastalking.voice.INCOMING_CALL" />
            </intent-filter>
        </receiver>

    </application>

</manifest>