<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.africastalking.android">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />


    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity android:name=".ui.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.airtime.AirtimeActivity" android:label="Airtime" />
        <activity android:name=".ui.payment.PaymentActivity" android:label="Payment" />
        <activity android:name=".ui.sms.SmsActivity" android:label="SMS" />
        <activity android:name=".ui.voice.VoiceActivity" android:label="Voice"/>
        <activity android:name=".ui.voice.InCallActivity" android:launchMode="singleInstance" android:label="Voice"/>

    </application>

</manifest>